body {
    background-color: #FFFFFF !important;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  
 .clock {
    zoom: 0.3;
    -moz-transform: scale(0.5);
  }
  
  #main-menu .item{
	  padding-top: 7px;
	  padding-bottom: 7px;
  }